li.site-menu-item a img {
    float: left;
    /* padding-right: 3px; */
    margin-right: 10px;
}
.site-menu>.site-menu-item>a>.site-menu-title {
    display: inline;
    line-height: 30px !important;
}
.site-menu .site-menu-item {
    padding-top: 12px;
    padding-bottom: 10px;
}
.site-menubar{
    height: 4rem;
}
.custom-icon {
    width: 30px;
    float: left;
    margin-right: 5px;
}
@font-face {
    font-family: "Cronos Light";
    src: url("Cronos-Pro-Light.ttf");
  }

  body{
      font-family: "Cronos Light";
  }
  .site-menubar{
    font-family: "Cronos Light";
  }