.site-menu .site-menu-item {
    float: right;
}
.site-navbar-small .site-navbar {
    direction: rtl;
}

@font-face {
    font-family: "Universe Arabic";
    src: url("UniversNextArabic.ttf");
  }

  body{
      font-family: "Universe Arabic";
  }
  .site-menubar{
    font-family: "Universe Arabic";
  }
  .panel-title{
    direction: rtl;
    font-family: "Universe Arabic";
}