.hide{
	display: none;
}
.iti-flag {background-image: url("images/flags.png");}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("images/flags@2x.png");}
}
.intl-tel-input{
	width: 100%;
}
#valid-msg{
	color : green;
}
#error-msg{
	color : red;
}
#phone-invalid-feedback{
	display: block;
}
.loading{
	display: none;
}
.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) center no-repeat #fff;
}
#dropzone{
	margin-bottom: 1em;
}
.delete-form{
	display: inline;
	margin-left: 1em;
}
.change-status-btn{
	margin-left: 1em;
}
.leave-btn{
    margin-right:  1em;
    color : #fff;
}
.navbar-inverse{
	background-color: #B68A35;
}
.btn-primary:not([disabled]):not(.disabled).active.focus, .btn-primary:not([disabled]):not(.disabled).active:focus, .btn-primary:not([disabled]):not(.disabled).active:hover, .btn-primary:not([disabled]):not(.disabled):active.focus, .btn-primary:not([disabled]):not(.disabled):active:focus, .btn-primary:not([disabled]):not(.disabled):active:hover{
	background-color: #B68A35;
    border-color: #B68A35;
}
.btn-primary {
    background-color: #B68A35;
    border-color: #B68A35;
    box-shadow: none;
}
.btn-primary:hover{
    background-color: #B68A35;
    border-color: #B68A35;
    box-shadow: none;
}
.btn-primary[disabled]{
	background-color: #B68A35;
    border-color: #B68A35;
}
.btn-primary[disabled]:hover{
	background-color: #B68A35;
    border-color: #B68A35;
}
.panel-line.panel-primary .panel-heading {
    color: #B68A35;
    background: 0 0;
    border-top-color: #B68A35;
}
.panel-line.panel-primary .panel-title {
    color: #B68A35;
}
.form-control.focus, .form-control:focus {
    border-color: #B68A35;
    box-shadow: none;
}
.site-menu-item-img{
	display: inline;
    width: 30px !important;
}
.site-menu>.site-menu-item>a>.site-menu-title {
    display: inline;
    line-height: 20px;
}
.site-menu>.site-menu-item>a {
    padding-top: 0;
    padding-bottom: 0;
}
.site-menu-item>a{
	line-height: 0px;
}
.site-menu-item>a:hover {
    color: unset;
    background-color: unset;
}
.site-menu-item:hover>a {
    color: unset;
    background-color: unset;
}
.site-menu .site-menu-item{
	padding-top : 20px;
	padding-bottom : 20px;
}
.site-menu-item:hover {
    color: rgba(97,97,97,.9);
    background-color: rgba(40,53,147,.04);
}
.custom-icon{
    width : 30px;
}
a.btn.btn-primary.create-btn.waves-effect.waves-classic {
    color: white;
}

.pearl.active:after, .pearl.active:before, .pearl.current:after, .pearl.current:before {
    background-color: #B68A35;
}
.pearl.active .pearl-icon, .pearl.active .pearl-number, .pearl.current .pearl-icon, .pearl.current .pearl-number {
    color: #B68A35;
    background-color: #fff;
    border-color: #B68A35;
}
.pearl.done .pearl-icon, .pearl.done .pearl-number {
    color: #fff;
    background-color: #B68A35;
    border-color: #B68A35;
}
.pearl.done:after, .pearl.done:before {
    background-color: #B68A35;
}
.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
    background-image: linear-gradient(#B68A35,#B68A35),linear-gradient(#e0e0e0,#e0e0e0);
}